* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
    text-decoration: none;
    font-weight: 500;
    color: black;
  }
  
  ul {
    list-style: none;
  }
.nav-main {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.nav-main .nav-logo {
  align-items: center;
  width: 90px;
  margin-top: 20px;
}
.nav-menu {
  display: flex;
}
.nav-menu li {
  padding: 10px;
}
.nav-main ul li a {
  color: black;
  padding: 4px;
}
.nav-main ul li a:hover {
  opacity: 0.9;
  color: brown;
}
